{% extends "base.html" %}

{% block content %}
<div>
<div id="cntr" style="width:80%;">
&nbsp;&nbsp;&nbsp;<p>Lost and Report web application is a web tool use to find a lost item or report a found item.</p>
<h2>Find A Lost Item</h2>
<p>If you have lost an item and you wish to use this system to search it, you can either</p> 
<p><strong>1</strong>. Search using an identification number of the item on the red <a style="color:darkred" href="/searchandreport/search/"><strong>Button on the left side</strong></a> for the items with identification number e.g identification cards, visa cards etc</p> 
&nbsp;<p><strong>2</strong>. Search with the red  <a style="color:darkred" href="/searchandreport/searchw/"><strong>Button on the left</strong></a> if the item doesnt have an identification number e.g phone, calculator etc.</p>

&nbsp;&nbsp;<h2>Report A Found Item</h2>
&nbsp;&nbsp;<h2>Report A Found Item--TEST</h2>

<p>To report a found item, use the <a style="color:#73d216" href="/searchandreport/report/"><strong>green icon</strong></a> at the center and fill detailed information so that the item will be easier to retrieve. The details will be sent to the owner incase they searched for the item.</p>
</div>

{% endblock content %}

{% block extrajs %}

 <script>
        $(document).ready(function () {
            
            $('body').queryLoader2({
                        barColor: "#87D7BE",
                        backgroundColor: "#F2F2F2",
                        barHeight: 10,
                        completeAnimation: "grow"
            });
    
        });
    </script>

{% endblock extrajs %}
